Connected Services/AlumniService/AlumniServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50563/Services/AlumniServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" />
  <xs:element name="GetAlumnis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumnisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" minOccurs="0" name="GetAlumnisResult" nillable="true" type="q1:ArrayOfAlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumniByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alumniID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumniByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" minOccurs="0" name="GetAlumniByIDResult" nillable="true" type="q2:AlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumniFullName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumniFullNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" minOccurs="0" name="GetAlumniFullNameResult" nillable="true" type="q3:ArrayOfAlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlumni">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" minOccurs="0" name="alumni" nillable="true" type="q4:AlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlumniResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlumni">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" minOccurs="0" name="alumni" nillable="true" type="q5:AlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlumniResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlumni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alumniID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlumniResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictIdByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="districtName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictIdByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDistrictIdByNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateIdByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateIdByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStateIdByNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" minOccurs="0" name="alumniDTO" nillable="true" type="q6:AlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromExcelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>