Connected Services/FacultyService/FacultyServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FacultyServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50563/Services/FacultyServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50563/Services/FacultyServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50563/Services/FacultyServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFacultyServices_GetFaculties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFaculties" />
  </wsdl:message>
  <wsdl:message name="IFacultyServices_GetFaculties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultiesResponse" />
  </wsdl:message>
  <wsdl:message name="IFacultyServices_GetFacultyByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultyByID" />
  </wsdl:message>
  <wsdl:message name="IFacultyServices_GetFacultyByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultyByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFacultyServices_GetFacultyIdByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultyIdByName" />
  </wsdl:message>
  <wsdl:message name="IFacultyServices_GetFacultyIdByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultyIdByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IFacultyServices_AddFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFaculty" />
  </wsdl:message>
  <wsdl:message name="IFacultyServices_AddFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IFacultyServices_UpdateFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFaculty" />
  </wsdl:message>
  <wsdl:message name="IFacultyServices_UpdateFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IFacultyServices_DeleteFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFaculty" />
  </wsdl:message>
  <wsdl:message name="IFacultyServices_DeleteFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFacultyResponse" />
  </wsdl:message>
  <wsdl:portType name="IFacultyServices">
    <wsdl:operation name="GetFaculties">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacultyServices/GetFaculties" message="tns:IFacultyServices_GetFaculties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacultyServices/GetFacultiesResponse" message="tns:IFacultyServices_GetFaculties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacultyByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacultyServices/GetFacultyByID" message="tns:IFacultyServices_GetFacultyByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacultyServices/GetFacultyByIDResponse" message="tns:IFacultyServices_GetFacultyByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacultyIdByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacultyServices/GetFacultyIdByName" message="tns:IFacultyServices_GetFacultyIdByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacultyServices/GetFacultyIdByNameResponse" message="tns:IFacultyServices_GetFacultyIdByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacultyServices/AddFaculty" message="tns:IFacultyServices_AddFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacultyServices/AddFacultyResponse" message="tns:IFacultyServices_AddFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacultyServices/UpdateFaculty" message="tns:IFacultyServices_UpdateFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacultyServices/UpdateFacultyResponse" message="tns:IFacultyServices_UpdateFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacultyServices/DeleteFaculty" message="tns:IFacultyServices_DeleteFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacultyServices/DeleteFacultyResponse" message="tns:IFacultyServices_DeleteFaculty_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFacultyServices" type="tns:IFacultyServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFaculties">
      <soap:operation soapAction="http://tempuri.org/IFacultyServices/GetFaculties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacultyByID">
      <soap:operation soapAction="http://tempuri.org/IFacultyServices/GetFacultyByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacultyIdByName">
      <soap:operation soapAction="http://tempuri.org/IFacultyServices/GetFacultyIdByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFaculty">
      <soap:operation soapAction="http://tempuri.org/IFacultyServices/AddFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFaculty">
      <soap:operation soapAction="http://tempuri.org/IFacultyServices/UpdateFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFaculty">
      <soap:operation soapAction="http://tempuri.org/IFacultyServices/DeleteFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacultyServices">
    <wsdl:port name="BasicHttpBinding_IFacultyServices" binding="tns:BasicHttpBinding_IFacultyServices">
      <soap:address location="http://localhost:50563/Services/FacultyServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>