Connected Services/JobHistoryService/JobHistoryServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="JobHistoryServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50563/Services/JobHistoryServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50563/Services/JobHistoryServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50563/Services/JobHistoryServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobHistoryServices_GetJobHistories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobHistories" />
  </wsdl:message>
  <wsdl:message name="IJobHistoryServices_GetJobHistories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobHistoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IJobHistoryServices_GetJobHistoryByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobHistoryByID" />
  </wsdl:message>
  <wsdl:message name="IJobHistoryServices_GetJobHistoryByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobHistoryByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IJobHistoryServices_AddJobHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJobHistory" />
  </wsdl:message>
  <wsdl:message name="IJobHistoryServices_AddJobHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJobHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IJobHistoryServices_UpdateJobHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobHistory" />
  </wsdl:message>
  <wsdl:message name="IJobHistoryServices_UpdateJobHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IJobHistoryServices_DeleteJobHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJobHistory" />
  </wsdl:message>
  <wsdl:message name="IJobHistoryServices_DeleteJobHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJobHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobHistoryServices">
    <wsdl:operation name="GetJobHistories">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobHistoryServices/GetJobHistories" message="tns:IJobHistoryServices_GetJobHistories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobHistoryServices/GetJobHistoriesResponse" message="tns:IJobHistoryServices_GetJobHistories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobHistoryByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobHistoryServices/GetJobHistoryByID" message="tns:IJobHistoryServices_GetJobHistoryByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobHistoryServices/GetJobHistoryByIDResponse" message="tns:IJobHistoryServices_GetJobHistoryByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJobHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobHistoryServices/AddJobHistory" message="tns:IJobHistoryServices_AddJobHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobHistoryServices/AddJobHistoryResponse" message="tns:IJobHistoryServices_AddJobHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJobHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobHistoryServices/UpdateJobHistory" message="tns:IJobHistoryServices_UpdateJobHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobHistoryServices/UpdateJobHistoryResponse" message="tns:IJobHistoryServices_UpdateJobHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJobHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobHistoryServices/DeleteJobHistory" message="tns:IJobHistoryServices_DeleteJobHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobHistoryServices/DeleteJobHistoryResponse" message="tns:IJobHistoryServices_DeleteJobHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobHistoryServices" type="tns:IJobHistoryServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJobHistories">
      <soap:operation soapAction="http://tempuri.org/IJobHistoryServices/GetJobHistories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobHistoryByID">
      <soap:operation soapAction="http://tempuri.org/IJobHistoryServices/GetJobHistoryByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJobHistory">
      <soap:operation soapAction="http://tempuri.org/IJobHistoryServices/AddJobHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJobHistory">
      <soap:operation soapAction="http://tempuri.org/IJobHistoryServices/UpdateJobHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJobHistory">
      <soap:operation soapAction="http://tempuri.org/IJobHistoryServices/DeleteJobHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobHistoryServices">
    <wsdl:port name="BasicHttpBinding_IJobHistoryServices" binding="tns:BasicHttpBinding_IJobHistoryServices">
      <soap:address location="http://localhost:50563/Services/JobHistoryServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>