Connected Services/JobHistoryService/JobHistoryServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJobHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobHistoryDTO" nillable="true" type="tns:JobHistoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobHistoryDTO" nillable="true" type="tns:ArrayOfJobHistoryDTO" />
  <xs:complexType name="JobHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alumni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlumniID" type="xs:int" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="JobHistoryID" type="xs:int" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobHistoryDTO" nillable="true" type="tns:JobHistoryDTO" />
</xs:schema>