Connected Services/JobHistoryService/JobHistoryServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50563/Services/JobHistoryServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" />
  <xs:element name="GetJobHistories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alumniID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobHistoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" minOccurs="0" name="GetJobHistoriesResult" nillable="true" type="q1:ArrayOfJobHistoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobHistoryByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alumniID" type="xs:int" />
        <xs:element minOccurs="0" name="jobHistoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobHistoryByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" minOccurs="0" name="GetJobHistoryByIDResult" nillable="true" type="q2:JobHistoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJobHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" minOccurs="0" name="jobHistory" nillable="true" type="q3:JobHistoryDTO" />
        <xs:element minOccurs="0" name="alumniID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJobHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" minOccurs="0" name="jobHistory" nillable="true" type="q4:JobHistoryDTO" />
        <xs:element minOccurs="0" name="alumniID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobHistoryID" type="xs:int" />
        <xs:element minOccurs="0" name="alumniID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>