Connected Services/MajorService/MajorServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MajorServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50563/Services/MajorServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50563/Services/MajorServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50563/Services/MajorServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMajorServices_GetMajors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMajors" />
  </wsdl:message>
  <wsdl:message name="IMajorServices_GetMajors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMajorsResponse" />
  </wsdl:message>
  <wsdl:message name="IMajorServices_GetMajorByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMajorByID" />
  </wsdl:message>
  <wsdl:message name="IMajorServices_GetMajorByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMajorByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMajorServices_GetMajorIdByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMajorIdByName" />
  </wsdl:message>
  <wsdl:message name="IMajorServices_GetMajorIdByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMajorIdByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMajorServices_AddMajor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMajor" />
  </wsdl:message>
  <wsdl:message name="IMajorServices_AddMajor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMajorResponse" />
  </wsdl:message>
  <wsdl:message name="IMajorServices_UpdateMajor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMajor" />
  </wsdl:message>
  <wsdl:message name="IMajorServices_UpdateMajor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMajorResponse" />
  </wsdl:message>
  <wsdl:message name="IMajorServices_DeleteMajor_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMajor" />
  </wsdl:message>
  <wsdl:message name="IMajorServices_DeleteMajor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMajorResponse" />
  </wsdl:message>
  <wsdl:portType name="IMajorServices">
    <wsdl:operation name="GetMajors">
      <wsdl:input wsaw:Action="http://tempuri.org/IMajorServices/GetMajors" message="tns:IMajorServices_GetMajors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMajorServices/GetMajorsResponse" message="tns:IMajorServices_GetMajors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMajorByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMajorServices/GetMajorByID" message="tns:IMajorServices_GetMajorByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMajorServices/GetMajorByIDResponse" message="tns:IMajorServices_GetMajorByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMajorIdByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMajorServices/GetMajorIdByName" message="tns:IMajorServices_GetMajorIdByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMajorServices/GetMajorIdByNameResponse" message="tns:IMajorServices_GetMajorIdByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMajor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMajorServices/AddMajor" message="tns:IMajorServices_AddMajor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMajorServices/AddMajorResponse" message="tns:IMajorServices_AddMajor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMajor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMajorServices/UpdateMajor" message="tns:IMajorServices_UpdateMajor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMajorServices/UpdateMajorResponse" message="tns:IMajorServices_UpdateMajor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMajor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMajorServices/DeleteMajor" message="tns:IMajorServices_DeleteMajor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMajorServices/DeleteMajorResponse" message="tns:IMajorServices_DeleteMajor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMajorServices" type="tns:IMajorServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMajors">
      <soap:operation soapAction="http://tempuri.org/IMajorServices/GetMajors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMajorByID">
      <soap:operation soapAction="http://tempuri.org/IMajorServices/GetMajorByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMajorIdByName">
      <soap:operation soapAction="http://tempuri.org/IMajorServices/GetMajorIdByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMajor">
      <soap:operation soapAction="http://tempuri.org/IMajorServices/AddMajor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMajor">
      <soap:operation soapAction="http://tempuri.org/IMajorServices/UpdateMajor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMajor">
      <soap:operation soapAction="http://tempuri.org/IMajorServices/DeleteMajor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MajorServices">
    <wsdl:port name="BasicHttpBinding_IMajorServices" binding="tns:BasicHttpBinding_IMajorServices">
      <soap:address location="http://localhost:50563/Services/MajorServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>