Connected Services/DistrictService/DistrictService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDistrictDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistrictDTO" nillable="true" type="tns:DistrictDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistrictDTO" nillable="true" type="tns:ArrayOfDistrictDTO" />
  <xs:complexType name="DistrictDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistrictID" type="xs:int" />
      <xs:element minOccurs="0" name="DistrictName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateID" type="xs:int" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistrictDTO" nillable="true" type="tns:DistrictDTO" />
</xs:schema>