Connected Services/DistrictService/DistrictService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50563/Services/DistrictService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" />
  <xs:element name="GetDistrictByStateID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictByStateIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AlumniWCF.DTO" minOccurs="0" name="GetDistrictByStateIDResult" nillable="true" type="q1:ArrayOfDistrictDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>